<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.guess.mapper.MatchVersusBoMapper">
    <insert id="add" parameterType="com.yy.guess.po.MatchVersusBo">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into guess_match_versus_bo(id, versusId, bo, status, result, firstKillTeam, firstKillTime, tenthKillTeam, tenthKillTime, leftTeamKillCount, rightTeamKillCount, matchTime, createTime)
        values(#{id}, #{versusId}, #{bo}, #{status}, #{result}, #{firstKillTeam}, #{firstKillTime}, #{tenthKillTeam}, #{tenthKillTime}, #{leftTeamKillCount}, #{rightTeamKillCount}, #{matchTime}, #{createTime})
    </insert>

    <delete id="delete" parameterType="int">
        delete from guess_match_versus_bo where id = #{id}
    </delete>

    <update id="update" parameterType="com.yy.guess.po.MatchVersusBo">
        update guess_match_versus_bo set
        versusId = #{versusId}, bo = #{bo}, status = #{status}, result = #{result}, firstKillTeam = #{firstKillTeam}, firstKillTime = #{firstKillTime}, tenthKillTeam = #{tenthKillTeam}, tenthKillTime = #{tenthKillTime}, leftTeamKillCount = #{leftTeamKillCount}, rightTeamKillCount = #{rightTeamKillCount}, matchTime = #{matchTime}, createTime = #{createTime}
        where id = #{id}
    </update>

    <select id="find" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.MatchVersusBo">
        select id, versusId, bo, status, result, firstKillTeam, firstKillTime, tenthKillTeam, tenthKillTime, leftTeamKillCount, rightTeamKillCount, matchTime, createTime from guess_match_versus_bo
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort">
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        limit 0, 1
    </select>

    <select id="findById" parameterType="int" resultType="com.yy.guess.po.MatchVersusBo">
        select id, versusId, bo, status, result, firstKillTeam, firstKillTime, tenthKillTeam, tenthKillTime, leftTeamKillCount, rightTeamKillCount, matchTime, createTime from guess_match_versus_bo
        where id = #{id}
    </select>

    <select id="query" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.MatchVersusBo">
        select id, versusId, bo, status, result, firstKillTeam, firstKillTime, tenthKillTeam, tenthKillTime, leftTeamKillCount, rightTeamKillCount, matchTime, createTime from guess_match_versus_bo
        <if test="useWhere"> <!-- 添加查询条件 -->
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort"> <!-- 添加排序 -->
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        <if test="page != null"> <!-- 添加分页 -->
            limit ${page.beginIndex}, ${page.pageSize}
        </if>
    </select>

    <select id="getCount" parameterType="com.yy.fast4j.QueryCondition" resultType="int">
        select count(*) from guess_match_versus_bo
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>
    </select>
    <!--****************************************************************分隔线****************************************************************-->
    
    <insert id="addList" parameterType="java.util.Collection">
		insert into guess_match_versus_bo(id, versusId, bo, status, result, firstKillTeam, firstKillTime, tenthKillTeam, tenthKillTime, leftTeamKillCount, rightTeamKillCount, matchTime, createTime)
		values
		<foreach collection="boList" item="obj" separator=",">
			(#{obj.id}, #{obj.versusId}, #{obj.bo}, #{obj.status}, #{obj.result}, #{obj.firstKillTeam}, #{obj.firstKillTime}, #{obj.tenthKillTeam}, #{obj.tenthKillTime}, #{obj.leftTeamKillCount}, #{obj.rightTeamKillCount}, #{obj.matchTime}, #{obj.createTime})
		</foreach>
    </insert>
    
    <delete id="deleteByVersusId" parameterType="int">
    	delete from guess_match_versus_bo where versusId = #{versusId}
    </delete>
</mapper>
