<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.guess.mapper.MatchVersusMapper">
    <insert id="add" parameterType="com.yy.guess.po.MatchVersus">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into guess_match_versus(id, name, matchId, matchName, matchLogoUrl, sportId, sportName, sportLogoUrl, leftTeamId, leftTeamName, rightTeamId, rightTeamName, leftTeamLogoUrl, rightTeamLogoUrl, leftTeamScore, rightTeamScore, playTypeCount, startTime, endTime, status, autoSwitchStatus, boCount, realBoCount, result, createTime)
        values(#{id}, #{name}, #{matchId}, #{matchName}, #{matchLogoUrl}, #{sportId}, #{sportName}, #{sportLogoUrl}, #{leftTeamId}, #{leftTeamName}, #{rightTeamId}, #{rightTeamName}, #{leftTeamLogoUrl}, #{rightTeamLogoUrl}, #{leftTeamScore}, #{rightTeamScore}, #{playTypeCount}, #{startTime}, #{endTime}, #{status}, #{autoSwitchStatus}, #{boCount}, #{realBoCount}, #{result}, #{createTime})
    </insert>

    <delete id="delete" parameterType="int">
        delete from guess_match_versus where id = #{id}
    </delete>

    <update id="update" parameterType="com.yy.guess.po.MatchVersus">
        update guess_match_versus set
        name = #{name}, matchId = #{matchId}, matchName = #{matchName}, matchLogoUrl = #{matchLogoUrl}, sportId = #{sportId}, sportName = #{sportName}, sportLogoUrl = #{sportLogoUrl}, leftTeamId = #{leftTeamId}, leftTeamName = #{leftTeamName}, rightTeamId = #{rightTeamId}, rightTeamName = #{rightTeamName}, leftTeamLogoUrl = #{leftTeamLogoUrl}, rightTeamLogoUrl = #{rightTeamLogoUrl}, leftTeamScore = #{leftTeamScore}, rightTeamScore = #{rightTeamScore}, playTypeCount = #{playTypeCount}, startTime = #{startTime}, endTime = #{endTime}, status = #{status}, autoSwitchStatus = #{autoSwitchStatus}, boCount = #{boCount}, realBoCount = #{realBoCount}, result = #{result}, createTime = #{createTime}
        where id = #{id}
    </update>

    <select id="find" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.MatchVersus">
        select id, name, matchId, matchName, matchLogoUrl, sportId, sportName, sportLogoUrl, leftTeamId, leftTeamName, rightTeamId, rightTeamName, leftTeamLogoUrl, rightTeamLogoUrl, leftTeamScore, rightTeamScore, playTypeCount, startTime, endTime, status, autoSwitchStatus, boCount, realBoCount, result, createTime from guess_match_versus
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort">
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        limit 0, 1
    </select>

    <select id="findById" parameterType="int" resultType="com.yy.guess.po.MatchVersus">
        select id, name, matchId, matchName, matchLogoUrl, sportId, sportName, sportLogoUrl, leftTeamId, leftTeamName, rightTeamId, rightTeamName, leftTeamLogoUrl, rightTeamLogoUrl, leftTeamScore, rightTeamScore, playTypeCount, startTime, endTime, status, autoSwitchStatus, boCount, realBoCount, result, createTime from guess_match_versus
        where id = #{id}
    </select>

    <select id="query" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.MatchVersus">
        select id, name, matchId, matchName, matchLogoUrl, sportId, sportName, sportLogoUrl, leftTeamId, leftTeamName, rightTeamId, rightTeamName, leftTeamLogoUrl, rightTeamLogoUrl, leftTeamScore, rightTeamScore, playTypeCount, startTime, endTime, status, autoSwitchStatus, boCount, realBoCount, result, createTime from guess_match_versus
        <if test="useWhere"> <!-- 添加查询条件 -->
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort"> <!-- 添加排序 -->
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        <if test="page != null"> <!-- 添加分页 -->
            limit ${page.beginIndex}, ${page.pageSize}
        </if>
    </select>

    <select id="getCount" parameterType="com.yy.fast4j.QueryCondition" resultType="int">
        select count(*) from guess_match_versus
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>
    </select>
    <!--****************************************************************分隔线****************************************************************-->
    
    
    <select id="queryInSportId" resultType="com.yy.guess.po.MatchVersus">
    	select id, name, matchId, matchName, matchLogoUrl, sportId, sportName, sportLogoUrl, leftTeamId, leftTeamName, rightTeamId, rightTeamName, leftTeamLogoUrl, rightTeamLogoUrl, leftTeamScore, rightTeamScore, playTypeCount, startTime, endTime, status, autoSwitchStatus, boCount, realBoCount, result, createTime from guess_match_versus
    	where
    	<if test="sportIdList != null">
    		sportId in (<foreach collection="sportIdList" item="obj" separator=",">#{obj}</foreach>) and
    	</if>
		<choose>
			<when test="status > 0">(status = '已结束' or status = '未比赛') and</when><!-- status > 0：已结束、未比赛 -->
			<when test="status &lt; 0">(status = '未开始' or status = '进行中') and</when><!-- status < 0：未开始、进行中 -->
			<otherwise></otherwise>
		</choose>
		<if test="startTime != null">
			startTime >= #{startTime} and
		</if>
		<if test="endTime != null">
			startTime &lt;= #{endTime} and
		</if>
		playTypeCount > 0
		order by startTime ASC
		<if test="page != null">
			limit ${page.beginIndex}, ${page.pageSize}
		</if>
    </select>
    <select id="queryInSportIdCount" resultType="int">
    	select count(*) from guess_match_versus
    	where
    	<if test="sportIdList != null">
    		sportId in (<foreach collection="sportIdList" item="obj" separator=",">#{obj}</foreach>) and
    	</if>
		<choose>
			<when test="status > 0">(status = '已结束' or status = '未比赛') and</when><!-- status > 0：已结束、未比赛 -->
			<when test="status &lt; 0">(status = '未开始' or status = '进行中') and</when><!-- status < 0：未开始、进行中 -->
			<otherwise></otherwise>
		</choose>
		<if test="startTime != null">
			startTime >= #{startTime} and
		</if>
		<if test="endTime != null">
			startTime &lt;= #{endTime} and
		</if>
		playTypeCount > 0
    </select>
</mapper>