<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.guess.mapper.NewGuessVersusItemMapper">
    <insert id="add" parameterType="com.yy.guess.po.NewGuessVersusItem">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into new_guess_versus_item(id, name, versusId, betAmount, useFixedOdds, fixedOdds, changeOdds, changeOddsPlusRatio, changeOddsPlusValue, changeOddsPlusStrategy, changeOddsMinusRatio, changeOddsMinusValue, changeOddsMinusStrategy, changeOddsMin, changeOddsMax, createTime)
        values(#{id}, #{name}, #{versusId}, #{betAmount}, #{useFixedOdds}, #{fixedOdds}, #{changeOdds}, #{changeOddsPlusRatio}, #{changeOddsPlusValue}, #{changeOddsPlusStrategy}, #{changeOddsMinusRatio}, #{changeOddsMinusValue}, #{changeOddsMinusStrategy}, #{changeOddsMin}, #{changeOddsMax}, #{createTime})
    </insert>

    <delete id="delete" parameterType="int">
        delete from new_guess_versus_item where id = #{id}
    </delete>

    <update id="update" parameterType="com.yy.guess.po.NewGuessVersusItem">
        update new_guess_versus_item set
        name = #{name}, versusId = #{versusId}, betAmount = #{betAmount}, useFixedOdds = #{useFixedOdds}, fixedOdds = #{fixedOdds}, changeOdds = #{changeOdds}, changeOddsPlusRatio = #{changeOddsPlusRatio}, changeOddsPlusValue = #{changeOddsPlusValue}, changeOddsPlusStrategy = #{changeOddsPlusStrategy}, changeOddsMinusRatio = #{changeOddsMinusRatio}, changeOddsMinusValue = #{changeOddsMinusValue}, changeOddsMinusStrategy = #{changeOddsMinusStrategy}, changeOddsMin = #{changeOddsMin}, changeOddsMax = #{changeOddsMax}, createTime = #{createTime}
        where id = #{id}
    </update>

    <select id="find" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.NewGuessVersusItem">
        select id, name, versusId, betAmount, useFixedOdds, fixedOdds, changeOdds, changeOddsPlusRatio, changeOddsPlusValue, changeOddsPlusStrategy, changeOddsMinusRatio, changeOddsMinusValue, changeOddsMinusStrategy, changeOddsMin, changeOddsMax, createTime from new_guess_versus_item
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort">
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        limit 0, 1
    </select>

    <select id="findById" parameterType="int" resultType="com.yy.guess.po.NewGuessVersusItem">
        select id, name, versusId, betAmount, useFixedOdds, fixedOdds, changeOdds, changeOddsPlusRatio, changeOddsPlusValue, changeOddsPlusStrategy, changeOddsMinusRatio, changeOddsMinusValue, changeOddsMinusStrategy, changeOddsMin, changeOddsMax, createTime from new_guess_versus_item
        where id = #{id}
    </select>

    <select id="query" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.NewGuessVersusItem">
        select id, name, versusId, betAmount, useFixedOdds, fixedOdds, changeOdds, changeOddsPlusRatio, changeOddsPlusValue, changeOddsPlusStrategy, changeOddsMinusRatio, changeOddsMinusValue, changeOddsMinusStrategy, changeOddsMin, changeOddsMax, createTime from new_guess_versus_item
        <if test="useWhere"> <!-- 添加查询条件 -->
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort"> <!-- 添加排序 -->
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        <if test="page != null"> <!-- 添加分页 -->
            limit ${page.beginIndex}, ${page.pageSize}
        </if>
    </select>

    <select id="getCount" parameterType="com.yy.fast4j.QueryCondition" resultType="int">
        select count(*) from new_guess_versus_item
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>
    </select>
    <!--****************************************************************分隔线****************************************************************-->

	<insert id="addList" parameterType="java.util.Collection">
    	insert into new_guess_versus_item(id, name, versusId, betAmount, useFixedOdds, fixedOdds, changeOdds, changeOddsPlusRatio, changeOddsPlusValue, changeOddsPlusStrategy, changeOddsMinusRatio, changeOddsMinusValue, changeOddsMinusStrategy, changeOddsMin, changeOddsMax, createTime)
        values
        <foreach collection="versusItemList" item="obj" separator=",">
			(#{obj.id}, #{obj.name}, #{obj.versusId}, #{obj.betAmount}, #{obj.useFixedOdds}, #{obj.fixedOdds}, #{obj.changeOdds}, #{obj.changeOddsPlusRatio}, #{obj.changeOddsPlusValue}, #{obj.changeOddsPlusStrategy}, #{obj.changeOddsMinusRatio}, #{obj.changeOddsMinusValue}, #{obj.changeOddsMinusStrategy}, #{obj.changeOddsMin}, #{obj.changeOddsMax}, #{obj.createTime})
    	 </foreach>
    </insert>
</mapper>
