<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.guess.mapper.PayOrderMapper">
    <insert id="add" parameterType="com.yy.guess.po.PayOrder">
        insert into guess_pay_order(id, userId, userName, amount, subject, payType, status, notifyTime, notifyCount, createTime)
        values(#{id}, #{userId}, #{userName}, #{amount}, #{subject}, #{payType}, #{status}, #{notifyTime}, #{notifyCount}, #{createTime})
    </insert>

    <delete id="delete" parameterType="String">
        delete from guess_pay_order where id = #{id}
    </delete>

    <update id="update" parameterType="com.yy.guess.po.PayOrder">
        update guess_pay_order set
        userId = #{userId}, userName = #{userName}, amount = #{amount}, subject = #{subject}, payType = #{payType}, status = #{status}, notifyTime = #{notifyTime}, notifyCount = #{notifyCount}, createTime = #{createTime}
        where id = #{id}
    </update>

    <select id="find" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.PayOrder">
        select id, userId, userName, amount, subject, payType, status, notifyTime, notifyCount, createTime from guess_pay_order
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort">
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        limit 0, 1
    </select>

    <select id="findById" parameterType="String" resultType="com.yy.guess.po.PayOrder">
        select id, userId, userName, amount, subject, payType, status, notifyTime, notifyCount, createTime from guess_pay_order
        where id = #{id}
    </select>

    <select id="query" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.PayOrder">
        select id, userId, userName, amount, subject, payType, status, notifyTime, notifyCount, createTime from guess_pay_order
        <if test="useWhere"> <!-- 添加查询条件 -->
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort"> <!-- 添加排序 -->
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        <if test="page != null"> <!-- 添加分页 -->
            limit ${page.beginIndex}, ${page.pageSize}
        </if>
    </select>

    <select id="getCount" parameterType="com.yy.fast4j.QueryCondition" resultType="int">
        select count(*) from guess_pay_order
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>
    </select>
    <!--****************************************************************分隔线****************************************************************-->
</mapper>
