<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.guess.mapper.PlayTypeMapper">
    <insert id="add" parameterType="com.yy.guess.po.PlayType">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into guess_play_type(id, versusId, name, bo, versusBoId, status, result, paramStr, templateClass, pause, guessStart, leftGuessName, rightGuessName, leftWinRate, rightWinRate, leftBonusPool, rightBonusPool, fixedOdds, createTime)
        values(#{id}, #{versusId}, #{name}, #{bo}, #{versusBoId}, #{status}, #{result}, #{paramStr}, #{templateClass}, #{pause}, #{guessStart}, #{leftGuessName}, #{rightGuessName}, #{leftWinRate}, #{rightWinRate}, #{leftBonusPool}, #{rightBonusPool}, #{fixedOdds}, #{createTime})
    </insert>

    <delete id="delete" parameterType="int">
        delete from guess_play_type where id = #{id}
    </delete>

    <update id="update" parameterType="com.yy.guess.po.PlayType">
        update guess_play_type set
        versusId = #{versusId}, name = #{name}, bo = #{bo}, versusBoId = #{versusBoId}, status = #{status}, result = #{result}, paramStr = #{paramStr}, templateClass = #{templateClass}, pause = #{pause}, guessStart = #{guessStart}, leftGuessName = #{leftGuessName}, rightGuessName = #{rightGuessName}, leftWinRate = #{leftWinRate}, rightWinRate = #{rightWinRate}, leftBonusPool = #{leftBonusPool}, rightBonusPool = #{rightBonusPool}, fixedOdds = #{fixedOdds}, createTime = #{createTime}
        where id = #{id}
    </update>

    <select id="find" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.PlayType">
        select id, versusId, name, bo, versusBoId, status, result, paramStr, templateClass, pause, guessStart, leftGuessName, rightGuessName, leftWinRate, rightWinRate, leftBonusPool, rightBonusPool, fixedOdds, createTime from guess_play_type
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort">
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        limit 0, 1
    </select>

    <select id="findById" parameterType="int" resultType="com.yy.guess.po.PlayType">
        select id, versusId, name, bo, versusBoId, status, result, paramStr, templateClass, pause, guessStart, leftGuessName, rightGuessName, leftWinRate, rightWinRate, leftBonusPool, rightBonusPool, fixedOdds, createTime from guess_play_type
        where id = #{id}
    </select>

    <select id="query" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.PlayType">
        select id, versusId, name, bo, versusBoId, status, result, paramStr, templateClass, pause, guessStart, leftGuessName, rightGuessName, leftWinRate, rightWinRate, leftBonusPool, rightBonusPool, fixedOdds, createTime from guess_play_type
        <if test="useWhere"> <!-- 添加查询条件 -->
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort"> <!-- 添加排序 -->
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        <if test="page != null"> <!-- 添加分页 -->
            limit ${page.beginIndex}, ${page.pageSize}
        </if>
    </select>

    <select id="getCount" parameterType="com.yy.fast4j.QueryCondition" resultType="int">
        select count(*) from guess_play_type
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>
    </select>
    <!--****************************************************************分隔线****************************************************************-->

    <insert id="addList" parameterType="java.util.Collection">
		insert into guess_play_type(id, versusId, name, bo, versusBoId, status, result, paramStr, templateClass, pause, guessStart, leftGuessName, rightGuessName, leftWinRate, rightWinRate, leftBonusPool, rightBonusPool, fixedOdds, createTime)
		values
		<foreach collection="ptList" item="obj" separator=",">
			(#{obj.id}, #{obj.versusId}, #{obj.name}, #{obj.bo}, #{obj.versusBoId}, #{obj.status}, #{obj.result}, #{obj.paramStr}, #{obj.templateClass}, #{obj.pause}, #{obj.guessStart}, #{obj.leftGuessName}, #{obj.rightGuessName}, #{obj.leftWinRate}, #{obj.rightWinRate}, #{obj.leftBonusPool}, #{obj.rightBonusPool}, #{obj.fixedOdds}, #{obj.createTime})
		</foreach>
    </insert>
    
    <select id="queryInId" resultType="com.yy.guess.po.PlayType">
		select id, versusId, name, bo, versusBoId, status, result, paramStr, templateClass, pause, guessStart, leftGuessName, rightGuessName, leftWinRate, rightWinRate, leftBonusPool, rightBonusPool, fixedOdds, createTime from guess_play_type
        where id in (<foreach collection="playTypeIdSet" item="obj" separator=",">#{obj}</foreach>)
    </select>
</mapper>