<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.guess.mapper.UserMapper">
    <insert id="add" parameterType="com.yy.guess.po.User">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into guess_user(id, userName, passWord, withdrawPassword, balance, nickName, qq, phone, email, registTime, lastLoginTime, lastLoginIp, createTime)
        values(#{id}, #{userName}, #{passWord}, #{withdrawPassword}, #{balance}, #{nickName}, #{qq}, #{phone}, #{email}, #{registTime}, #{lastLoginTime}, #{lastLoginIp}, #{createTime})
    </insert>

    <delete id="delete" parameterType="int">
        delete from guess_user where id = #{id}
    </delete>

    <update id="update" parameterType="com.yy.guess.po.User">
        update guess_user set
        userName = #{userName}, passWord = #{passWord}, withdrawPassword = #{withdrawPassword}, balance = #{balance}, nickName = #{nickName}, qq = #{qq}, phone = #{phone}, email = #{email}, registTime = #{registTime}, lastLoginTime = #{lastLoginTime}, lastLoginIp = #{lastLoginIp}, createTime = #{createTime}
        where id = #{id}
    </update>

    <select id="find" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.User">
        select id, userName, passWord, withdrawPassword, balance, nickName, qq, phone, email, registTime, lastLoginTime, lastLoginIp, createTime from guess_user
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort">
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        limit 0, 1
    </select>

    <select id="findById" parameterType="int" resultType="com.yy.guess.po.User">
        select id, userName, passWord, withdrawPassword, balance, nickName, qq, phone, email, registTime, lastLoginTime, lastLoginIp, createTime from guess_user
        where id = #{id}
    </select>

    <select id="query" parameterType="com.yy.fast4j.QueryCondition" resultType="com.yy.guess.po.User">
        select id, userName, passWord, withdrawPassword, balance, nickName, qq, phone, email, registTime, lastLoginTime, lastLoginIp, createTime from guess_user
        <if test="useWhere"> <!-- 添加查询条件 -->
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>

        <if test="useSort"> <!-- 添加排序 -->
            order by
            <foreach collection="sorts" item="obj" separator=",">
                ${obj}
            </foreach>
        </if>

        <if test="page != null"> <!-- 添加分页 -->
            limit ${page.beginIndex}, ${page.pageSize}
        </if>
    </select>

    <select id="getCount" parameterType="com.yy.fast4j.QueryCondition" resultType="int">
        select count(*) from guess_user
        <if test="useWhere">
            where
            <foreach collection="conditions" index="index" item="obj">
                <choose>
                    <when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
                    <otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
                </choose>
            </foreach>
        </if>
    </select>
    <!--****************************************************************分隔线****************************************************************-->
</mapper>
