<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">

    <session-config>
        <session-timeout>720</session-timeout>
    </session-config>
    
    <filter>
    	<filter-name>setBasePathFilter</filter-name>
    	<filter-class>com.yy.fast4j.SetBasePathFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>setBasePathFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
    	<listener-class>com.yy.fast4j.UserWebLoginListener</listener-class>
    </listener>
</web-app>